body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  width: 24px;
  height: 24px;
}

.small-icon {
  width: 18px;
  height: 18px;
}

.ml5p {
  margin-left: 5px;
}
/* mobileNavigation */
.mobile-navigation {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.mobile-navigation__navigator {
  display: flex;
  justify-content: space-around;
}

.mobile-navigation__item {
  flex: 1;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.mobile-navigation__item:hover {
  cursor: pointer;
}

.mobile-navigation__item-icon {
  width: 24px;
  height: 24px;
  margin-top: -8px;
  margin-bottom: 4px;
}

/* mobileAppbar */
.mobile-Appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: solid 1px #00000022;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.mobile-Appbar__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-Appbar__actions img + img {
  margin-left: 24px;
}

/* mobileHomeList */
.mobile-home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-home-list li + li {
  border-top: solid 1px #00000022;
}

/* mobileHomeListItem */
.mobile-home-list-item {
  width: 90%;
  display: flex;
  position: relative;
  padding: 12px 0px;
}
.mobile-home-list-item__image {
  width: 96px;
  height: 96px;
  border-radius: 5px;
}
.mobile-home-list-item__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 15px;
  padding: 2px 0;
}
.mobile-home-list-item__title {
  font-size: 18px;
}
.mobile-home-list-item__address {
  color: gray;
  font-size: 13px;
}
.mobile-home-list-item__price {
  font-weight: bold;
  font-size: 16px;
}

.mobile-home-list-item__l3 {
  display: flex;
  margin-top: 4px;
  align-items: center;
  gap: 6px;
}

.mobile-home-list-item__status {
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.mobile-home-list-item__status--stay {
  background-color: teal;
}

.mobile-home-list-item__status--done {
  background-color: black;
}

.mobile-home-list-item__detail {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  bottom: 15px;
}

/* NeighborhoodPage */
.interest-menu__wrap {
  overflow-x: scroll;
}
.interest-menu__wrap::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.interest-menu__list {
  width: max-content;
  background-color: #dde0ee66;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -webkit-scrollbar: hide;
}

.interest-menu__item {
  flex: 0 0 auto;
  height: min-content;
  background-color: white;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.neighborhood__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #dde0ee66;
}

.neighborhood__item-top {
  background-color: white;
  padding: 15px;
}
.neighborhood__item-type {
  display: flex;
  width: max-content;
  background-color: #dde0ee66;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 12px;
  color: #353535;
  word-break: keep-all;
}
.neighborhood__item-content {
  font-size: 16px;
  max-lines: 3;
  text-overflow: ellipsis;
}
.neighborhood__item-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #353535;
}
.neighborhood__item-bottom {
  background-color: white;
  margin-top: 1px;
  padding: 15px;
  display: flex;
  gap: 20px;
}
.neighborhood__item-bottom > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.neighborhood__item-bottom img {
  width: 24px;
  height: 24px;
}

/* HomeFloatingButton */
.home-floating-button {
  width: 60px;
  height: 60px;
  background-color: orange;
  color: white;
  font-size: 40px;
  border: none;
  border-radius: 100px;
  position: fixed;
  right: 20px;
  bottom: 9vh;
}

.write-floating-button {
  width: 60px;
  height: 60px;
  background-color: orange;
  color: white;
  font-size: 40px;
  border: none;
  border-radius: 100px;
  position: fixed;
  right: 20px;
  bottom: 9vh;
}

.write-floating-button img {
  width: 24px;
  height: 24px;
}
